body {
    background-color: lightblue;
    margin          : 0;
    height          : 100vh;
    display         : grid;
    justify-items   : center;
    align-items     : center;
    font-family     : 'Nunito', sans-serif;
}

.container {
    width        : 30%;
    border-radius: 10px;

    .inner {
        background: rgb(7, 218, 165);
        padding: 1em;
        border-radius: 10px;
        width: 250px;
        clip-path: circle(10% at 90% 20%);
        transition: clip-path .5s ease-in-out;
        cursor: pointer;

        &:hover {
            clip-path: circle(75%);
            background: #00B6FF;
        }

        h1 {
            color: white;
            margin: 0;
        }

        p {
            color: white;
            font-size: 0.8rem;
        }
    }

    &:hover .inner {
        clip-path: circle(75%);
        background: #00B6FF;
    }

    span {
        float: right;
        color: white;
        font-weight: cold;
        transition: color .5s;
        position: relative;
        margin-right: 4%;
        margin-top: 4%;
    }
}